
# Python
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Model Cache
*.tmp

# Python cache
.pytest_cache/
.mypy_cache/

# Build
build/
dist/

# Environment
.env

# Large temporary files
*.pickle
